<%= flash[:error] %>
<%=  form_for @book do |f| %>
  <div>
      <%=  f.label :title %>
      <%=  f.text_field :title %>
    </div>
  <div>
    <%=  f.label :author %>
    <%=  f.text_field :author %>
  </div>
  <div>
    <%= f.fields_for :notes do |notes_form| %>
     
        <%= notes_form.label :content, 'What was this book about and what insights did you gain from it?' %>
        <%= notes_form.text_field :content %>
      
    <% end %>
  </div>
  <div>
    <%= f.fields_for :favequotes do |favequotes_form| %>
      
        <%= favequotes_form.label :quotation, 'What is your favorite quotation from this book?' %>
        <%= favequotes_form.text_field :quotation %>
  
    <% end %>
  </div>
  <div>
    <%= f.fields_for :lityears do |lityears_form| %>
     
        <%= lityears_form.label :year_read, 'In which year did you first read this book?' %>
        <%= lityears_form.text_field :year_read %>
     
    <% end %>
    </div>
    <div>
    <%= f.fields_for :ratings do |ratings_form| %>
    
        <%= ratings_form.label :stars, "How much did you love this book (on a scale of 1 to 5)?" %>
        <%= ratings_form.text_field :stars %>
     
    <% end %>
    </div>
  <%=  f.submit "Submit" %>
<% end %>